/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Изменен шрифт на Poppins */
}

/* Шапка */
header {
    background-color: #333;
    color: white;
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    font-weight: 300;
}

/* Герой-секция */
.hero {
    background-color: #A8D5BA; /* Мятный фон */
    padding: 80px 20px;
    text-align: center;
    color: #333;
    background-image: url('https://via.placeholder.com/1600x800'); /* Можете заменить на ваше изображение */
    background-size: cover;
    background-position: center;
}

.hero-text h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #FF6F61; /* Трендовый коралловый цвет */
}

.hero-text p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555; /* Тёмно-серый для текста */
}

.cta-buttons {
    margin-top: 30px;
}

.cta-btn {
    background-color: #FF6F61; /* Теплый коралловый */
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #D45B56; /* Темнее коралловый оттенок */
}

/* Продукты */
.products {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    padding: 0 20px;
}

.product-card {
    text-align: center;
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.product-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.product-card h3 {
    font-size: 1.6em;
    margin-bottom: 15px;
    color: #333;
}

.product-card p {
    font-size: 1.1em;
    color: #666;
}

/* Подвал */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 1.1em;
}
